body{
    font-family: sans-serif;
    text-align: center;
    background: #f0f0f0;
}
.container{
    margin: 50px auto;
    padding: 20px;
    width: 300px;
    background: white;
    border-radius: 10px;
}
.hide{
    display: none;
}